<h2 mat-dialog-title>{{data.id ? 'Edit' : 'Add'}} Financer</h2>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
	<mat-dialog-content class="mat-typography">
		<div class="flex flex-col gap-4">
			<mat-form-field class="w-full">
				<mat-label>Code</mat-label>
				<input matInput formControlName="code" required>
				<mat-error *ngIf="form.get('code')?.hasError('required')">
					Code is required
				</mat-error>
			</mat-form-field>

			<mat-form-field class="w-full">
				<mat-label>Label</mat-label>
				<input matInput formControlName="label" required>
				<mat-error *ngIf="form.get('label')?.hasError('required')">
					Label is required
				</mat-error>
			</mat-form-field>

			<mat-form-field class="w-full">
				<mat-label>Financer Types</mat-label>
				<mat-select formControlName="financerTypeList" multiple required>
					<mat-option *ngFor="let type of financerTypes" [value]="type">
						{{type}}
					</mat-option>
				</mat-select>
				<mat-error *ngIf="form.get('financerTypeList')?.hasError('required')">
					At least one type is required
				</mat-error>
			</mat-form-field>
			<mat-form-field class="w-full">
				<mat-label>Population</mat-label>
				<mat-select formControlName="population" multiple required>
					<mat-option *ngFor="let type of populationList" [value]="type">
						{{type}}
					</mat-option>
				</mat-select>
				<mat-error *ngIf="form.get('population')?.hasError('required')">
					At least one type is required
				</mat-error>
			</mat-form-field>
		</div>
	</mat-dialog-content>

	<mat-dialog-actions align="end">
		<button mat-button (click)="onCancel()">Cancel</button>
		<button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">
			{{data.id ? 'Update' : 'Create'}}
		</button>
	</mat-dialog-actions>
</form>